@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Roboto:wght@700&display=swap');

html,
body,
#root {
  margin: 0;
  padding-top: 2vh;
  height: 100vh;
  width: 100vw;
  background-image: url("https://cdn4.vectorstock.com/i/1000x1000/99/18/abstract-globe-vector-3959918.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(55, 128, 177, 0.603);
}

.header{
  color: rgba(0, 0, 0, 0.733);
  font-family: 'Monoton', cursive;
  font-size: 100px;
  float: left;
  text-align: center;
  text-shadow: 1px 4px 6px rgb(255, 255, 255);
}

.homelink {
  color: rgb(0, 0, 0);
  font-family: 'Monoton', cursive;
  font-size: 60px;
  text-align: center;
}

ul {
  display: flex;
  position: fixed;
  top: 0;
  margin: 0px;
  justify-content: space-evenly;
  background-color: rgba(55, 128, 177, 0.603);
  width: 100%;
  padding: 2vh;
  height: 7vh;
  list-style: none;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: white;
}

li a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  font-family: 'Roboto', sans-serif;
  border-radius: 10px;
}

li a:hover {
  background-color: rgb(158, 215, 238);
  color: rgb(0, 162, 255)
}

.login{
  display: block;
  color: white;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

.user{
  margin-top: 2%;
  img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
  }
} 

.cards{
  display: flex;
  // flex-direction: column;
  align-items: center;
  // justify-content: center;
  
  img{
    width: 300px;
    height: 400px
  }
  img:hover{
    opacity: 50%;
  }
}

.flash-card {
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 25vw;
  width: 25vw;
  box-shadow: 0 4px 8px 0 rgb(55, 128, 177);
  transition: 0.3s;
  background-color: #ffffff;
  color: rgb(55, 128, 177);
  border-radius: 4rem;
  img {
    width: 60%;
    height: 40%;
  };
  audio {
    width: 70%;

  }


}

.form-page {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 30%;
    width: 100%;
    input {
      width: 40%;
      padding: 10px;
      border-radius: 18px;
    }
    input[type='submit'] {
      width: 20%;
    }
    .ui.button{
      color: rgb(55, 128, 177);
    }
  }

}
